.imgIcon {
    display: flex;
    justify-content: center;
    margin: 5px 0px 0px 0px;
}

.searchIcon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
}

.homepageIcons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 150px 0px 150px;
}

.searchBar {
    margin-bottom: 50px;
}

.searchCard {
    padding: 5px 5px;
    margin: 20px 20px;
    border: 1px solid black;
    width: 110px;
    height: 100px;
}

.searchCard h4 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
